.form {
  background-color: rgb(68, 71, 73);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.inputNumber {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 35px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.label {
  color: #fff;
}

.label:last-child {
  margin-bottom: 0px;
}

.container {
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: white;

  font-weight: 900;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
}

.img {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 931px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../Images/call.jpg);
  background-position: 50% 50%;
}

.btn {
  color: #31bbbb;
  border: 2px solid #31bbbb;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10%;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 250ms linear;
  margin-top: 20px;
}

.btn:hover,
.btn:focus {
  color: orange;
  border: 2px solid orange;
}
