.filter {
  margin-bottom: 15px;
  font-weight: 500;
  margin-top: 20px;
}

.labelFilter {
  color: #000;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.filterInput {
  margin-top: 10px;
}
