.headerMenu__list {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .headerMenu__list {
    justify-content: unset;
  }

  .item {
    margin-right: 40px;
  }
}

.link {
  display: inline-block;

  font-size: 16px;

  font-weight: 500;

  text-transform: uppercase;

  color: var(--white);

  transition: all 250ms linear;

  border-bottom: 2px solid var(--white);
  padding-bottom: 5px;
}

.linkActive {
  font-size: 16px;

  font-weight: 500;

  text-transform: uppercase;

  color: var(--accent-color);

  transition: all 250ms linear;

  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 5px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  scale: 1.05;
  border-bottom: 2px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .link,
  .linkActive {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .link,
  .linkActive {
    font-size: 24px;
  }
}
