.list {
  padding: 20px;

  border-radius: 15px;

  background: rgba(3, 3, 3, 0.7);
}

.title {
  width: 300px;

  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  background: rgba(3, 3, 3, 0.7);
  padding: 10px;
  border-radius: 20px;
}

.title {
  color: var(--white);
}

.item {
  display: flex;
  flex-direction: column;

  padding: 10px;

  border: 1px solid var(--white);
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
    grid-column-gap: 18px;
    grid-row-gap: 20px;

    justify-content: center;
  }
  .item:not(:last-child) {
    margin-bottom: 0px;
  }

  .item {
    position: relative;
    width: 220px;
    height: 220px;
  }
}

.text {
  margin-bottom: 20px;

  color: var(--white);
  word-wrap: break-word;
  max-width: 100%;
}

.button {
  margin: 0 auto;
  width: 100px;
  min-height: 40px;

  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 500;

  color: var(--white);
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .button {
    position: absolute;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
  }
}

.button::before {
  content: '';
  border-radius: 1000px;
  width: calc(100px + 12px);
  min-height: calc(40px + 12px);
  border: 6px solid #ff00007c;
  box-shadow: 0 0 60px rgba(243, 10, 10, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: var(--white);
  background: red;
  transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}
