.list {
  display: flex;
  align-items: center;
}

.text {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-right: 10px;
}

.btn {
  color: #31bbbb;
  border: 2px solid #31bbbb;
  background-color: transparent;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  border-radius: 10%;
  padding: 5px 10px;

  cursor: pointer;

  transition: all 250ms linear;
}

.btn:hover,
.btn:focus {
  color: orange;
  border: 2px solid orange;
}
