.header {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 6px solid;
  border-image: linear-gradient(to right, #ffffff, #31bbbb, #31bbbb, #ffffff)
    47% 0%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
