.container {
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: white;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
}

.img {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding-top: 40px;
  padding-bottom: 80px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../Images/call.jpg);
  background-position: 50% 50%;
}
